@charset "UTF-8";

/*
Design borrowed from https://codepen.io/shammadahmed/pen/JOWEGW
*/

table.dataTable tr.odd  { background-color: #E2E4FF; }
table.dataTable tr.even  { background-color: white; }

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

table.dataTable td .btn {
	margin: 4px 0px !important;
	padding: 0.275rem 0.75rem !important;
}

div#menu {
	max-width: 1300px;
}

table.dataTable tr th {
	padding-left: 10px;
}

table.dataTable tr td {
	padding: 3px 7px;
}

.margin-left-17{
	margin-left: 17px !important;
}

.display-none {
	display: none;
}