<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/css/datatables.min.css}">
        <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <!-- Menu -->
        <div id="menu" class="container">
            <noscript>
                <div class="alert alert-danger" role="alert">Seems your browser
                    doesn't support Javascript! Please enable Javascript and reload this
                    page!</div>
            </noscript>

            <div class="row">
                <div class="col-md-9">
                    <h1>Kry Services Status</h1>
                </div>
                <div class="col-md-3" style="padding: 8px 5px;">
                    <div class="form-inline">
                        <div class="form-group">
                            <a href="logout" id="logout" class="btn btn-secondary">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="err-msg" class="alert alert-danger clear-msg display-none" role="alert">
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row user-service-section">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group">
                             <button id="add-user-service-modal" class="btn btn-primary" data-toggle="modal"
                                data-target="#addNewUserServiceModal">Add New Service</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="user-service-section"/>
            <div class="row user-service-section">
                <div class="col">
                    <table id="table-user-service" class="display" style="width: 100%">
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addNewUserServiceModal" tabindex="-1"
            role="dialog" aria-labelledby="addNewUserServiceModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewUserServiceModalLabel">Add New Service</h5>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="user-service-form" >
                        <div class="form-group row">
                          <label for="service-name" class="col-sm-4 col-form-label">Service Name</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control clear-value" id="service-name" placeholder="Service Name"/>
                          </div>
                        </div>
                        <div class="form-group row">
                            <label for="service-url" class="col-sm-4 col-form-label">URL</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control clear-value" id="service-url" placeholder="Service URL"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="add-user-service" type="button" class="btn btn-success">Create
                                </button>
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="updateUserServiceModal" tabindex="-1"
            role="dialog" aria-labelledby="updateUserServiceModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateUserServiceModalLabel">Edit Service</h5>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="update-user-service-id" />
                        <div class="form-group row">
                            <label for="update-user-service-name" class="col-sm-4 col-form-label">Name</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control clear-value" id="update-user-service-name" placeholder="Name"/>
                            </div>
                         </div>
                         <div class="form-group row">
                            <label for="update-user-service-url" class="col-sm-4 col-form-label">Url</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control clear-value" id="update-user-service-url" placeholder="Url" />
                            </div>
                         </div>
                    </div>
                    <div class="modal-footer">
                        <button id="update-user-service" type="button" class="btn btn-success">Update
                                </button>
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteUserServiceModal" tabindex="-1"
            role="dialog" aria-labelledby="deleteUserServiceModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserServiceModalLabel">Delete Service</h5>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="delete-user-service-id" />
                        Are you sure to delete service <strong id="delete-user-service-text"></strong> ?
                    </div>
                    <div class="modal-footer">
                        <button id="delete-user-service" type="button" class="btn btn-danger">Delete
                                </button>
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/datatables.min.js}"></script>
        <script th:src="@{/js/app.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
                $(document).ready(function() {
                    App.rootContext = /*[[@{/}]]*/ '';
                    App.Index.init();
                });
            /*]]>*/
        </script>
    </body>
</html>